<html>

    <head>

        <title>activity_main.xml</title>

        <meta
                content="text/html; charset=utf-8"
                http-equiv="Content-Type">

        <style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}

        </style>
    </head>

    <body bgcolor="#2b2b2b">

        <table
                BGCOLOR="#606060"
                CELLPADDING=5
                CELLSPACING=0
                COLS=1
                WIDTH="100%">

            <tr>

                <td>

                    <center>

                        <font
                                color="#000000"
                                face="Arial, Helvetica">
                            activity_main.xml
                        </font>
                    </center>
                </td>
            </tr>
        </table>

        <pre>

            <span class="s0">&lt;?</span>

            <span class="s1">xml version</span>

            <span class="s2">=&quot;1.0&quot;</span>

            <span class="s1">encoding</span>

            <span class="s2">=&quot;utf-8&quot;</span>

            <span class="s0">?&gt;</span>

            <span class="s0">&lt;LinearLayout</span>

            <span class="s1">xmlns:android</span>

            <span class="s2">= &quot;http://schemas.android.com/apk/res/android&quot;</span>

            <span class="s1">xmlns:app</span>

            <span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>

            <span class="s1">xmlns:tools</span>

            <span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>

            <span class="s1">android:layout_width</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s1">android:layout_height</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s1">android:gravity</span>

            <span class="s2">=&quot;center_vertical&quot;</span>

            <span class="s1">android:orientation</span>

            <span class="s2">=&quot;vertical&quot;</span>

            <span class="s1">tools:context</span>

            <span class="s2">=&quot;MainActivity&quot;</span>

            <span class="s0">&gt;</span>

            <span class="s0">&lt;EditText</span>

            <span class="s1">android:id</span>

            <span class="s2">=&quot;@+id/editNome&quot;</span>

            <span class="s1">android:layout_width</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s1">android:layout_height</span>

            <span class="s2">=&quot;wrap_content&quot;</span>

            <span class="s1">android:ems</span>

            <span class="s2">=&quot;6&quot;</span>

            <span class="s1">android:inputType</span>

            <span class="s2">=&quot;textPersonName&quot;</span>

            <span class="s1">android:minHeight</span>

            <span class="s2">=&quot;30dp&quot;</span>

            <span class="s1">android:text</span>

            <span class="s2">=&quot;TextView&quot;</span>

            <span class="s0">/&gt;</span>


            <span class="s0">&lt;Button</span>

            <span class="s1">android:id</span>

            <span class="s2">=&quot;@+id/btnCumprimentar&quot;</span>

            <span class="s1">android:layout_width</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s1">android:layout_height</span>

            <span class="s2">=&quot;wrap_content&quot;</span>

            <span class="s1">android:text</span>

            <span class="s2">=&quot;@string/string_cumprimentar&quot;</span>

            <span class="s1">android:onClick</span>

            <span class="s2">=&quot;executar&quot;</span>

            <span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>

            <span class="s1">android:id</span>

            <span class="s2">=&quot;@+id/labelMensagem&quot;</span>

            <span class="s1">android:layout_width</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s1">android:layout_height</span>

            <span class="s2">=&quot;wrap_content&quot;</span>

            <span class="s1">android:text</span>

            <span class="s2">=&quot;Alô, Mundo!&quot;</span>

            <span class="s1">android:textAlignment</span>

            <span class="s2">=&quot;center&quot;</span>

            <span class="s1">android:textSize</span>

            <span class="s2">=&quot;14sp&quot;</span>

            <span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>

            <span class="s1">android:id</span>

            <span class="s2">=&quot;@+id/textView4&quot;</span>

            <span class="s1">android:layout_width</span>

            <span class="s2">=&quot;match_parent&quot;</span>

            <span class="s0">&lt;/LinearLayout&gt;</span>


        </pre>
    </body>
</html>